<% if @movies.blank? %>
    <div class="center-class">
        <h1>There are not any movies currently in the cinema.</h1>
    </div>
<% else %>
    <div class="center-class">
        <h1>These are the current movies in the cinema:</h1>
        <form action="/day" method="get">
        <label for="day">Choose a day:</label>
        <select name="day" id="day" required>
            <option disabled selected value>Select a day</option>
            <% @days.each do |day| %>
                <option value=<%= day %>><%= day %></option>
            <% end %>
        </select>
        <input type="submit" class='enableOnInput' value="See Movies">
        </form>
    </div>

<div class="grid-container">
   <% @movies.each do |movie| %>
    <div class="grid-item">
        <div class="card">
            <img src=<%= movie.imgURL %> alt="Avatar" style="width:100%">
            <div class="container">
                <h2><b> <%= movie.name %> </b></h2> 
                <p><b> Matine:
                    <% @schedules_matine.each do |schedule| %>
                        <a href="#"> Sala <%= schedule.room %> </a>
                    <% end %>
                </b></p>
                <p><b> Tanda:
                    <% @schedules_tanda.each do |schedule| %>
                        <a href="#"> Sala <%= schedule.room %> </a>
                    <% end %>
                </b></p>
                <p><b> Noche:
                    <% @schedules_noche.each do |schedule| %>
                        <a href="#"> Sala <%= schedule.room %> </a>
                    <% end %>
            </b></p>
            </div>
        </div>
    </div>
   <% end %>
</div>

<% end %>