<div class="box">
    <%= form_with url: "/movies/create", method: :post do |form| %>
        <div>
            <label class="label">Name</label>
            <%= form.text_field :name %>
        </div>
        <div>
            <label class="label">Image URL</label>
            <%= form.url_field :imgURL %>
        </div>

        <div>
            <label class="label">Start Date</label>
            <%= form.date_field :start_date %>
        </div>
        <div>
            <label class="label">End Date</label>
            <%= form.date_field :end_date %>
        </div>

        <div class="column is-offset-5">
            <%= form.submit "Enviar", class: 'button is-primary'%>
        </div>
    <% end %>
</div>
