<h1> Schedule for <%= @movie.name %> on <%= @schedule.day %> </h1>
<h1> At <%= @schedule.time %> time </h1>
<h1> In room <%= @schedule.room %> </h1>

<div class="grid-cinema">
  <% rows = [*?A..?D] %>
  <% for i in 0..3 do %>
    <% for j in 1..12 do %>
      <% if @schedule.seats[i][j] == 0 %>
        <div class="grid-item-available"><%= "#{rows[i]}#{j}" %></div>
      <% else %>
        <div class="grid-item-unavailable"><%= "#{rows[i]}#{j}" %></div>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="box">
  <div>
    <h2>Reservar asientos</h2>
  </div>
  <%= form_with url: "/schedules/#{@schedule.id}/reserve", method: :patch do |form| %>
    <div>
      <label class="label"> Seleccione la fila </label>
      <% for i in 1..4 do %>
        <%= form.radio_button :row, i-1 %>
        <%= form.label :row, rows[i-1] %>
      <% end %>
    </div>
    <div>
      <label class="label"> Seleccione el número de asiento </label>
      <% for i in 0..11 do %>
        <%= form.check_box :seats, {multiple: true}, 1, 0 %>
        <%= form.label :seats, i + 1 %>
      <% end %>
    </div>
    <div class="column is-offset-5">
            <%= form.submit "Enviar", class: 'button is-primary'%>
        </div>
  <% end %>
</div>